# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Refs
references/